* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.GuestTitel {
  background-color: #f5e2d0;
  background-image: linear-gradient(123deg, #f5e2d0 0%, #f9d582 100%);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 1px 1px 3px black;
}

button {
  background-image: linear-gradient(
    to right,
    #e6b122 0%,
    #eee1aa 51%,
    #1a2980 100%
  );
}
button {
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 1px 1px 4px rgb(19, 18, 3);
  border-radius: 14px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
