* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}

.GuestTitel {
  background-color: #f5e2d0;
  background-image: linear-gradient(123deg, #f5e2d0 0%, #f9d582 100%);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 1px 1px 3px black;
}
.newGuest {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 2px;
  border-radius: 20px;
  width: 40%;
  box-shadow: 1px 1px 5px #070601;
  background-color: #faf6f2;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(218, 90, 16, 0.354);
  font-size: 20px;
  text-align: center;
}
.newGuest label {
  font-size: 12px;
}

.filters {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.addGuest {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.GuestName label {
  font-size: 24px;
  text-shadow: 1px 1px 1px rgb(70, 54, 5);
}

.GuestName input {
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: 20px;
}

button {
  background-image: linear-gradient(
    to right,
    #e6b122 0%,
    #eee1aa 51%,
    #1a2980 100%
  );
}
button {
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.416);
  box-shadow: 1px 1px 4px rgb(19, 18, 3);
  border-radius: 14px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
